.pagination{
    color: black;
    font-weight: bold;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.pagination-item  {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blue;
    height: 48px;
    width: 48px;
}

.pagination-item.active{
    background-color: orange;
}