.topbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .topbar .prev-next-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .topbar .prev-next-buttons button {
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-right: 1rem;
  }
  
  .navbar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
  }
  
  .topbar .navbar ul li a:hover,
  .topbar .navbar ul li a:active,
  .topbar .navbar ul li a:focus {
    color: #ffffff;
  }
  
  .topbar .navbar button {
    border: none;
    background-color: #fff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border-radius: 30px;
  }
  
  .topbar .navbar ul li.divider {
    color: #ffffff;
    font-size: 26px;
    margin: 0px 20px;
    width: auto;
  }