.playControls {
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    grid-area: player;
}

.music-container {
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    padding: 10px 30px;
}

.img-container {
    width: 110px;
}

.img-container img {
    width: inherit;
    height: 80px;
    object-fit: contain;
}

.song-name {
    text-transform: uppercase;
    font-weight: 600;
}

.music-control {
    flex: 33.33%;
    max-width: 600px;
    padding: 0px 1rem;
}

.aritsts>* {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}

.aritsts a:hover,
.aritsts a:focus,
.aritsts a:active {
    text-decoration: underline;
}

.music-info {
    gap: 2rem;
    display: flex;
    max-width: 600px;
    flex: 33.33%;
    align-items: center;
}

.navigation-music {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.action-btn {
    background: transparent;
    border: none;
    color: #dfdbfd;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    margin: 0px 20px;
}

.action-btn:focus {
    outline: 0;
}

.progress-container {
    display: flex;
    align-items: center;
    background-color: #e4e9ed;
    border-radius: 5px;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.progress {
    background-color: blue;
    border-radius: 5px;
    height: 6px;
}

.progess-value {
    text-align: left;
}

.sound-progress {
    width: 100%;
    height: 10px;
    border-radius: 5px;
    outline: none;
}

.sound-progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
}

.sound-progress::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
}

.sound-progress::-ms-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #333;
    cursor: pointer;
}

.sound-mixer {
    flex: 33.33%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound-mixer-row {
    display: flex;
    align-items: center;
}

.sound-btn {
    border: none;
    background: transparent;
    color: white;
    margin-right: 10px;
}