.sidebar {
  background-color: #000000;
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
  transition: all 0.3s;
}

.top-section {
  display: flex;
}

.bars {
  cursor: pointer;
}

.sidebar .logo img {
  width: 130px;
}

.sidebar .navigation ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar .navigation ul li {
  padding: 10px 0px;
}

.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}

.sidebar .navigation ul li span {
  margin-left: 1em;
}

.sidebar .navigation ul li a:hover,
.sidebar .navigation ul li a:active,
.sidebar .navigation ul li a:focus {
  color: #fff;
}

.sidebar .navigation ul li a .fas {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar .policies {
  position: absolute;
  bottom: 35px;
}

.sidebar .policies ul {
  list-style: none;
}

.sidebar .policies ul li {
  padding-bottom: 5px;
}

.sidebar .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}

.sidebar .policies ul li a:hover,
.sidebar .policies ul li a:active,
.sidebar .policies ul li a:focus {
  text-decoration: underline;
}